.team-member {
  display: flex;
  align-items: center;
}

.member-info {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 10px; // Adjust spacing between name and image as needed
}

.rounded-photo {
  border-radius: 50%;
  width: 100px; // Adjust size as needed
  height: 100px; // Adjust size as needed
  margin-right: 20px; // Adjust spacing between name and image as needed
}
