@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.navbar {
  background-color: #007bff;
  padding: 15px 25px;
  border-radius: 0;
}

.navbar-nav .nav-link {
  color: #fff;
  margin-right: 40px;
}

.navbar-brand {
  color: #c03c3c;
  font-weight: bold;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-dropdown {
  background-color: #f8f9fa;
}

.dropdown-item {
  color: #000;
}

.navbar-text {
  color: #0f0808;
}

.form-inline {
  margin-right: 100px; /* Adjust the right padding for the search bar */
}

.form-control {
  margin-right: 10px; /* Adjust the right padding for the input field */
}

.btn {
  margin-right: 10px; /* Adjust the right padding for the button */
}
/* Apply the font to the desired elements */
.navbar,
.navbar-brand,
.navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  /* You can also specify fallback fonts after the preferred font */
  /* font-family: 'Roboto', Arial, sans-serif; */
}

/* You can also apply different font styles to specific elements */
.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem; /* Adjust font size as needed */
}

.navbar-nav .nav-link {
  font-size: 1.2rem; /* Adjust font size as needed */
}
