.navbar {
  background-color: #007bff;
  padding: 15px 25px;
  border-radius: 0;
}
.navbar-nav .nav-link {
  color: #fff;
  margin-right: 20px;
}

.navbar-brand {
  color: #c03c3c;
  font-weight: bold;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-dropdown {
  background-color: #f8f9fa;
}

.dropdown-item {
  color: #000;
}

.navbar-text {
  color: #fff;
}
