/* Your existing CSS code */

.category-header {
  margin: 20px;
}

.business-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.headline-image {
  width: 100px;
  height: auto;
  margin-left: 20px;
}

.textbody {
  float: right;
  width: 57%;
  margin-right: 3%;
}

.headline-text {
  font-weight: bold;
}

.headline-story-div {
  padding: 500px 0px 20px 0px !important;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .textbody {
    float: none; /* Remove float on smaller screens */
    width: 100%; /* Take full width on smaller screens */
    margin-right: 0; /* Remove right margin on smaller screens */
  }

  .headline-image {
    margin-left: 0; /* Remove left margin on smaller screens */
    width: 80px; /* Adjust image width for smaller screens */
  }

  .headline-text {
    font-size: 18px; /* Adjust headline font size for smaller screens */
  }
}
