// Define styles for larger screens
.article-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headline-story {
  margin-bottom: 20px;
}

.headline-text {
  font-size: 24px;
}

.headline-image {
  width: 100%;
  max-width: 200px;
}

.headline-story-div {
  margin-top: 10px;
}

.article-box {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.article-headline {
  font-size: 18px;
}

.article-image {
  width: 100%;
}

.article-short-text {
  font-size: 14px;
}

// Media query for screens smaller than 768px
@media screen and (max-width: 768px) {
  .headline-text {
    font-size: 20px;
  }

  .headline-image {
    max-width: 150px;
  }

  .article-box {
    width: calc(100% - 10px);
  }

  .article-headline {
    font-size: 16px;
  }

  .article-short-text {
    font-size: 12px;
  }
}
