.searchRefine {
  clear: right;
  overflow: hidden;
  font-size: 1.4rem;
  font-family: 'NPRSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: none;
  color: #f333;
  line-height: 1;
  color: #636363;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.contentheader div label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.contentheader .search {
  overflow: hidden;
  clear: left;
  width: 100%;
  padding: 15px;
  border-top: 2px solid #fff;
}

.contentheader .search label[for='searchlayout-searchinput'] {
  margin-right: 10px;
  font-size: 1.6rem;
  font-family: 'NPRSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: none;
  color: #333;
  color: #636363;
}

.contentheader .search .search-controls {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 54px;
}

.contentheader .search .ais-SearchBox-submit {
  height: 34px;
  width: 44px;
  padding: 0;
  border: none;
  background: #7598c9
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYWdfZ2xhc3MiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEzcHgiIHZpZXdCb3g9IjAgMCAxMiAxMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTMiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjEuNSIgY3g9IjQuODc1IiBjeT0iNS4xNjciIHI9IjMuOTU4Ii8+Cgk8bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMS41IiB4MT0iNy4yOTIiIHkxPSI4LjQxNyIgeDI9IjEwLjk1OCIgeTI9IjExLjk1OCIvPgo8L2c+Cjwvc3ZnPg==)
    no-repeat center center;
  background-size: 12px 13px;
  text-indent: -999em;
  cursor: pointer;
}

.ais-SearchBox-input {
  /* font-size: 1.6rem; */
  font-family: 'NPRSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: none;
  color: #333;
  height: 34px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0;
  border: 1px solid #bbb;
  background: #fff;
  -webkit-appearance: textfield;
}

.searchRefine .searchdd {
  width: 259px;
  font-size: 16px;
  margin-left: 1px;
  font-family: inherit;
}

@media only screen and (min-width: 768px) {
  .contentheader {
    margin-bottom: 20px;
  }

  .contentheader .search {
    padding-left: 0;
    padding-right: 0;
    border-top: none;
  }

  .contentheader .search .searchRefine {
    display: block;
    max-height: none;
  }

  .contentheader .search.is-expanded .searchRefine {
    margin-top: 0;
    max-height: auto;
  }

  .contentheader .search label[for='searchlayout-searchinput'] {
    margin-top: 2px;
    font-size: 1.8rem;
    font-family: 'NPRSans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: none;
    color: #333;
  }

  .contentheader .search .search-controls {
    width: 66.666%;
    padding-right: 0;
  }

  .ais-SearchBox-submit {
    display: inline;
  }

  .ais-SearchBox-input {
    width: calc(100% - 54px);
    margin: 0 10px 0 0;
  }

  .searchRefine {
    clear: both;
  }

  .searchRefine .filterLabel,
  .searchRefine .filterDate,
  .searchRefine .filterProg {
    float: left;
  }

  .searchRefine .filterLabel {
    margin: 15px 14px 0 0;
  }

  .searchRefine .filterDate {
    margin: 0 22px 0 0;
  }

  .searchRefine .filterDate,
  .searchRefine .filterProg {
    margin-top: 11px;
  }

  .searchRefine .searchdd {
    width: auto;
    margin-left: 0;
  }
}

// .contentheader .search .ais-SearchBox-submit{
//   height: 34px;
//   width: 44px;
//   padding: 0;
//   border: none;
//   background: #7598c9
//     url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYWdfZ2xhc3MiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEzcHgiIHZpZXdCb3g9IjAgMCAxMiAxMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTMiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjEuNSIgY3g9IjQuODc1IiBjeT0iNS4xNjciIHI9IjMuOTU4Ii8+Cgk8bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMS41IiB4MT0iNy4yOTIiIHkxPSI4LjQxNyIgeDI9IjEwLjk1OCIgeTI9IjExLjk1OCIvPgo8L2c+Cjwvc3ZnPg==)
//     no-repeat center center;
//   background-size: 12px 13px;
//   text-indent: -999em;
//   cursor: pointer;
// }

// .searchInputs {
//   margin-top: 105px;
//   position: relative;
//   display: inline-block; /* Ensure the search bar wraps around its contents */
// }

// .searchInputs .input {
//   margin-top: 105px;
//   position: relative;
//   background-color: white;
//   border: 0;
//   border-radius: 2px;
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
//   display: inline-block; /* Ensure the search bar wraps around its contents */
//   border: 2px solid black;
//   font-size: 18px;
//   padding: 15px;
//   height: 50px;
//   width: 500px;
// }

// .searchIcon {
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 70%;
//   display: flex;
//   align-items: center;
//   padding-right: 15px; /* Add padding to adjust the position of the icon */
// }

// .PageviewIcon {
//   position: absolute;
//   top: 0;
//   left: 0; /* Position the icon on the left side */
//   height: 50px;
//   display: flex;
//   align-items: center;
//   padding-right: 15px; /* Add padding to adjust the position of the icon */
// }
