.search-refine {
  clear: right;
  overflow: hidden;
  font-size: 1.4rem;
  font-family: 'NPRSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: none;
  color: #f333;
  line-height: 1;
  color: #636363;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.content-header div label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.content-header .search {
  overflow: hidden;
  clear: left;
  width: 100%;
  padding: 15px;
  border-top: 2px solid #fff;
}

.content-header .search label[for='search-input'] {
  margin-right: 10px;
  font-size: 1.6rem;
  font-family: 'NPRSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: none;
  color: #333;
  color: #636363;
}

.content-header .search .search-controls {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 54px;
}

.content-header .search .search-box-submit {
  height: 34px;
  width: 44px;
  padding: 0;
  border: none;
  background: #7598c9
    url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYWdfZ2xhc3MiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEzcHgiIHZpZXdCb3g9IjAgMCAxMiAxMyIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTMiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjEuNSIgY3g9IjQuODc1IiBjeT0iNS4xNjciIHI9IjMuOTU4Ii8+Cgk8bGluZSBmaWxsPSJub25lIiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMS41IiB4MT0iNy4yOTIiIHkxPSI4LjQxNyIgeDI9IjEwLjk1OCIgeTI9IjExLjk1OCIvPgo8L2c+Cjwvc3ZnPg==)
    no-repeat center center;
  background-size: 12px 13px;
  text-indent: -999em;
  cursor: pointer;
}

.search-box-input {
  font-family: 'NPRSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: none;
  color: #333;
  height: 34px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0;
  border: 1px solid #bbb;
  background: #fff;
  -webkit-appearance: textfield;
}

.search-refine .search-date {
  width: 259px;
  font-size: 16px;
  margin-left: 1px;
  font-family: inherit;
}

@media only screen and (min-width: 768px) {
  .content-header {
    margin-bottom: 20px;
  }

  .content-header .search {
    padding-left: 0;
    padding-right: 0;
    border-top: none;
  }

  .content-header .search .search-refine {
    display: block;
    max-height: none;
  }

  .content-header .search.is-expanded .search-refine {
    margin-top: 0;
    max-height: auto;
  }
  .filter-label {
    //this is for the narrow results
    font-family: 'NPRSans', sans-serif;
    font-size: 16px;
    color: #333;
  }

  .content-header .search label[for='search-input'] {
    margin-top: 2px;
    font-size: 1.8rem;
    font-family: 'NPRSans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: none;
    color: #333;
  }

  .content-header .search .search-controls {
    width: 66.666%;
    padding-right: 0;
  }

  .search-box-submit {
    display: inline;
  }

  .search-box-input {
    width: calc(100% - 54px);
    margin: 0 10px 0 0;
  }

  .search-refine {
    clear: both;
  }

  .search-refine .filter-label,
  .search-refine .filter-date,
  .search-refine .filter-category {
    float: left;
  }

  .search-refine .filter-label {
    margin: 15px 14px 0 0;
  }

  .search-refine .filter-date {
    margin: 0 22px 0 0;
  }

  .search-refine .filter-date,
  .search-refine .filter-category {
    margin-top: 11px;
  }

  .search-refine .search-date {
    width: auto;
    margin-left: 0;
  }
}
